a{
  display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    width:60px;
}

.weatherContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:30px;
}

.result {
  width: 45%; /* Two items per row on large screens */
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .result {
    width: 100%; /* One item per row on small screens */
  }
}

.image {
  float: left;
  width: 30%;
}

.image img {
  width: 100%;
}

.content {
  float: right;
  width: 70%;
  padding: 10px;
}

.title {
  margin-top: 0;
}

.edit {
  padding: 20px;
  margin-left: 38%;
}

.editCityList {
  margin-top: 20px;
}

.editCityList div {
  margin-bottom: 10px;
}

.editBox {
  margin-right: 10px;
}

.editCityList input[type="text"] {
  margin-right: 10px;
}

.error {
  color: red;
}

.input {
  margin-bottom: 20px;
}

.input input[type="text"] {
  width: calc(50% - 70px);
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: auto;
}

.input button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.input button:hover {
  background-color: #0056b3;
}

.back {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.back:hover {
  background-color: #0056b3;
}

button{
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.containers{
  border: 5px solid black;
  height:50%;
  width: 70%;
  margin-left: 15%;
  display: flex;
}
.images img{
  width: 30%;
  margin-left: -50px;
  height: 70%;
}

.results{
  width: 60%;
   
}




